[Desktop Entry]
Version=1.0
Type=Application
Name=Install PallasOS
Comment=Mulai instalasi PallasOS ke Hardisk
Exec=/usr/local/bin/launch-calamares
Icon=drive-harddisk
Terminal=true
Categories=System;
StartupNotify=true
