[Unit]
Description=PallasOS Live Environment Setup
Before=sddm.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pallas-live-setup
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
