[Unit]
Description=PallasOS Live Environment Setup
Before=display-manager.service sddm.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pallas-live-setup
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
