[Desktop Entry]
Version=1.0
Type=Application
Name=Install PallasOS
Comment=Mulai instalasi PallasOS ke Hardisk
Exec=sudo -E calamares
Icon=drive-harddisk
Terminal=false
Categories=System;
StartupNotify=true
